{% extends "base.html" %}

{% block content %}
<div class="container">
        

        <table style="width:90%" class="table table-hover title">
                <col style="width:5%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:10%">
                <thead>
                        <tr>
                                <th colspan="9">Servers registred for monitoring</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                    <th>SSH</th>
                                    <th>Server Name</th>
                                    <th>Ip address</th>
                                    <th>Login User</th>
                                    <th>System</th>
                                    <th>Modele</th>
                                    <th>OS version</th>
                                    <th>Memory</th>
                                    <th><a  href="{{ url_for('update_all_server') }}" onclick="return confirm('Do you want to update all servers ? It will take a moment!');">Update/Edit</a></th>
                        </tr>
                        {% for server in data %}
                                {% if server.ssh_connection %}{% set status_ssh = 'checked' %}{% else %}{% set status_ssh = 'unchecked' %}{% endif %}
                                {% set ssh_toggle = False %}

                                <tr>
                                        <td><input type="checkbox" name="ssh" {{ status_ssh }} onclick="window.location.href='{{ url_for('toggle_ssh', server=server.name) }}';">
                                        <td><p> {{ server.name }} {% if server.public_name != None %} <br>{{ server.public_name }}   {% endif %}</p></td>
                                        <td><p> {{ server.address }} {% if server.public_address != '0.0.0.0' %}  <br>{{ server.public_address }} {% endif %}</p></td>                       
                                        <td><p> {{ server.user }} </p></td>
                                        <td><p> {{ server.system_type }}</p></td>
                                        <td><p> {{ server.modele }}</p></td>
                                        <td><p> {{ server.os }}</p></td>
                                        <td><p> {{ server.raminfo }}</p></td>
                                        <td><p><a  href="{{ url_for('server', server=server.name) }}"> Update/Edit</a></p></td>
                                 </tr>
        <!--                         {% if server.ssh_connection == True %} -->
        <!--                          {% endif %} -->
                        {% endfor %}
                
                </tbody>
        </table>
</div>
{% endblock %}