
<!-- Tableau d'informations sur le server -->

{% set volumes_data, num = server.check_vol_capacity() %}


   <table class="table table-hover table-bordered title canevas">

        <thead>
                <tr>
                        <th colspan="100%">Volumes monitoring</th>
                </tr>
        </thead>


        <tbody id="body">


        </tbody>

   

</table>
<br></br>

<!-- <canvas style="width:100%"></canvas>  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
console.log("there is {{ num}} graphics to display");
const table = document.getElementById("body");
// let row_0 = table.insertRow();

var vol_data_js = {{ volumes_data | tojson | safe}};
console.log("vol_data_js = "+ vol_data_js);
var i = 0;
var j = 0;
var k = 0;




Object.keys(vol_data_js).forEach(function(key) {

        if (j == 0){
                var row = "row_" + k;
                eval(row +'= table.insertRow()');      
        }
        else{
                var row = "row_" + k;
        }
        console.log('Key : ' + key + ', Value : ' + vol_data_js[key]);
        var canvas = document.createElement("canvas");
        canvas.setAttribute("id", "myChart"+i);
        canvas.setAttribute("class", "vol_monitor");
        console.log("create canevas : "+ i)
        var cell = "cell_" + i; 
        console.log("current row = "+ row);
        console.log("current cell = "+ cell);
        eval(cell +' = '+row+ '.insertCell('+j+')');
        table.rows[k].cells[j].appendChild(canvas);
        i++;
        j++;
        if (j >= 4){
                k++;
                j = 0;
                }

})


</script>
<script>

var i = 0
Object.keys(vol_data_js).forEach(function(key) {
        var chartID = "myChart"+i
        console.log("ChartID = "+ chartID)
        var ctx = document.getElementById(chartID).getContext('2d');
        console.log(ctx)
        var used_ = vol_data_js[key][1];
        var free_ = vol_data_js[key][3];
        var used_str = vol_data_js[key][2];
        var free_str = vol_data_js[key][4];
        var rate = used_/free_;
        var xValues = ["Used ("+used_str+" )", "free ("+free_str+" )"];
        var yValues = [used_, free_];
        console.log(yValues)
        if (rate > 19){  // =95%
                var color_used = 'red' } 
        else if(rate > 6){  // =85%
                var color_used = 'orange' } 
        else {
                var color_used = 'green' }
        var barColors = [color_used, "lightgrey"];
        var myChart = new Chart(ctx, {
           type: "doughnut",
                  data: {
                            labels: xValues,
                            datasets: [{
                                      backgroundColor: barColors,
                                      data: yValues
                                    }]
                          },
                options: {
                        cutoutPercentage : 80,
                        // responsive: false,
                        // maintainAspectRatio: false,
                        aspectRatio: 1.8,

                        title: {
                              display: true,
                              text: key + ' [' + vol_data_js[key][0] + ' ]'
                            },
                        
                        legend:{
                                position: "bottom",
                                align: "center",
                                labels:{ 
                                        boxWidth: 20,
                                        fontSize: 10
                                        }
                                },

                        }
                });

        i++;
})






</script>






