
<!-- Tableau d'informations sur le server -->



   <table class="table table-hover table-bordered title">
        <col style="width:15%">
        <col style="width:80%">
        <col style="width:5%">
        <thead>
                <tr>
                        <th colspan="3">Informations</th>
                </tr>
        </thead>
        <tbody>
                <tr >
                                <th>Service</th>
                                <th>Informations</th>
                                <th>Options</th>
                </tr>

                {% for info in infos %}
                {% set picture_path = info.get_picture_fullpath() %}
                {% set picture_localpath = info.get_picture_localpath() %}
                {% set pictures = info.get_picture(picture_path) %}
                <tr>
                        <td width="3rem">{{ info.service }} <br></td>
                        <td style="white-space: pre-line">{{ info.informations }}<br>{% if pictures %}{% for picture in pictures %}{% set picture_path = picture_localpath + '/' + picture %} <a href="{{url_for('static', filename=picture_path)}}">{{ picture }}<br>{% endfor %}</a>{% endif %}</td>
                        
                        <td> <a href="{{ url_for('server_info_modify', id=info.id) }}" title="Modify">edit</a>
                                 <a href="{{ url_for('server_info_delete', id=info.id) }}" onclick="return confirm('Do you want to permanently delete this information: {{ info.service }}?');" title="Delete Informations">delete</a> </td>
                 </tr>
                {% endfor %}
        
        </tbody>
</table>
<br></br>


